*{
  margin: 0;
}

.App{
  background-color: #212121;
  color: #fff;
  height: 100vh;
  padding-top: 12rem;
  text-align: center;
}

.button{
  background-color: #08dd96;
  border-radius: 2rem;
  border: #0c4633 2px solid;
  padding: 8px 24px;
  margin: 20px 10px;
  font-weight: 700;
}